@page "/account";
@inject FirstBlazor.Interfaces.IRepositoryU1<AccountDBModel> rep_account;
@inject NavigationManager NavManager;

<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 btn-group btn-group-sm">
            <button type="button" class="btn btn-ati-btn-light-action" @onclick="OnTran">Расход/Доход</button>
            <button type="button" class="btn btn-ati-btn-light-action" @onclick="OnTranList">Записи</button>
            <button type="button" class="btn btn-ati-btn-light-action">Анализ</button>
            <button type="button" class="btn btn-ati-btn-light-action" @onclick="OnCategory">Категории</button>
            <button type="button" class="btn btn-ati-btn-light-disable">Счета</button>
            <button type="button" class="btn btn-ati-btn-light-action" @onclick="OnLables">Метки</button>
        </div>
    </div>
    <div class="row bcolor-ati-whitesmoke">
        <div class="col-4">
            <p>10000</p>
        </div>
        <div class="col-8">
            <br>
            @foreach (var _item in _model.Accounts)
            {
                <div class="row">
                    <div class="col-12 input-group">
                        <input type="text" class="form-control" @bind="_item.Name">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" @onclick="() => OnDelete(_item)"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            }
            <input type="text" class="form-control" placeholder="Новый" @bind="_newValue">
            <br>
            <button type="button" class="btn btn-light btn-block" @onclick="OnSave">Сохранить</button>
            <br>
        </div>
    </div>
</div>

@code
{
    private string _newValue = "";

    private AccountPageModel _model;    //We do initialization here Initialized()

    protected override void OnInitialized()
    {
        Initialized();
    }

    private void OnSave()
    {
        Save();
    }
    private void OnDelete(AccountDBModel item)
    {
        Delete(item);
    }
    private void OnTranList()
    {
        NavManager.NavigateTo("/transaction_list");
    }
    private void OnTran()
    {
        NavManager.NavigateTo("/transaction");
    }
    private void OnCategory()
    {
        NavManager.NavigateTo("/category");
    }
    private void OnLables()
    {
        NavManager.NavigateTo("/lable");
    }
}}
