@page "/category";
@inject FirstBlazor.Interfaces.IRepositoryU1<CategoryDBModel> rep_category;
@inject NavigationManager NavManager;

<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8 btn-group btn-group-sm">
            <BaseMenu ActionMenu="4" />
        </div>
    </div>
    <div class="row bcolor-ati-whitesmoke">
        <div class="col-4">
            <p>10000</p>
        </div>
        <div class="col-8">
            <br>
            @foreach (var _item in _model.Category)
            {
                <div class="row">
                    <div class="col-12 input-group">
                        <input type="text" class="form-control" @bind="_item.Name">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" @onclick="() => OnDelete(_item)"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            }
            <input type="text" class="form-control" placeholder="Новый" @bind="_newValue">
            <br>
            <button type="button" class="btn btn-light btn-block" @onclick="OnSave">Сохранить</button>
            <br>
        </div>
    </div>
</div>
@if (ShowPopupDelete)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Удалить</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="OnHidePopupDelate">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6><b>Вы не можете удалить элемент справочника на который есть ссылка в операциях</b></h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="OnHidePopupDelate">Отмена</button>
                </div>
            </div>
        </div>
    </div>
}

@code
{
    private string _newValue = "";

    private CategoryPageModel _model;    //We do initialization here Initialized()

    bool ShowPopupDelete = false;

    protected override void OnInitialized()
    {
        Initialized();
    }

    private void OnSave()
    {
        Save();
    }
    private void OnDelete(CategoryDBModel item)
    {
        if (rep_category.IsHaveLinksById(item))
        {
            OnShowPopupDelate();
        }
        else
        {
            Delete(item);
        }
    }
    private void OnShowPopupDelate()
    {
        ShowPopupDelete = true;
    }
    private void OnHidePopupDelate()
    {
        ShowPopupDelete = false;
    }
}
