
<button type="button" class="btn btn-ati-btn-light-disable">Расход/Доход</button>
@*<button type="button" class="btn btn-ati-btn-light-action" @onclick="OnTranList">Записи</button>
<button type="button" class="btn btn-ati-btn-light-action" @onclick="OnChart">Анализ</button>
<button type="button" class="btn btn-ati-btn-light-action" @onclick="OnCategory">Категории</button>
<button type="button" class="btn btn-ati-btn-light-action" @onclick="OnAccounts">Счета</button>
<button type="button" class="btn btn-ati-btn-light-action" @onclick="OnLables">Метки</button>*@

@code {
    [Parameter] public int ActionMenu { get; set; }
}